<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <style>
        th{
            background-color: #4a76a8;
            text-align: center;
        }
        td{
            text-align: center;
        }
        tr{
            border: none;
        }
        td, th{
            border-radius: 0;
        }
        tr:nth-child(2n+1){

        }
        /*td:nth-child(2){
            width: 30%;
        }*/


        table{
            border-collapse: collapse;
            border-spacing: 0;
            border: none;
            text-align: center;
            text-align: -moz-center;
        }
        h5{
            font-weight: 500;
            /*word-break: break-all;*/
        }
        a{
            font-size: 14pt;
        }
    </style>


    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table style="width: 100%; text-align: center; position: fixed; ">
    <tr>
        <th style="padding: 5px 10px;background-color: #4a76a8;text-align: center; "><img height="75px" src="{{ user1_photo }}"><h5 style="font-weight: 500">{{ user1_name }}</h5></th>
        <th style="padding: 5px 10px;background-color: #4a76a8;text-align: center; width: 30%">                                           <h5 style="font-weight: 500;word-break: break-all;">Summary:</h5></th>
        <th style="padding: 5px 10px;background-color: #4a76a8;text-align: center; "><img height="75px" src="{{ user2_photo }}"><h5 style="font-weight: 500">{{ user2_name }}</h5></th>
    </tr>
</table>

<table style="width: 100%; text-align: center">
    <tr>
        <th style="padding: 5px 10px; "><img height="75px" src="{{ user1_photo }}"><h5 style="font-weight: 500">{{ user1_name }}</h5></th>
        <th style="padding: 5px 10px; width: 30%">                                           <h5 style="font-weight: 500;word-break: break-all;">Summary:</h5></th>
        <th style="padding: 5px 10px; "><img height="75px" src="{{ user2_photo }}"><h5 style="font-weight: 500">{{ user2_name }}</h5></th>
    </tr>
    {% for main_stat in main_stat_list %}

    <tr style="{% if loop.index is even %}background-color: #bbdefb;{% endif %} font-size: 16pt; border-top: 1px solid rgba(0,0,0,0.12);">
        <td></td>
        <td class="">{{ main_stat.name }}</td>
        <td></td>
    </tr>
    <tr style="{% if loop.index is even %}background-color: #bbdefb;{% endif %} font-size: 14pt;">
        <td>{{ main_stat.data[0] }}</td>
        <td>{{ main_stat.data[1] }}</td>
        <td>{{ main_stat.data[2] }}</td>
    </tr>
    {% if main_stat.attachments %}

        <tr style="{% if loop.index is even %}background-color: #bbdefb;{% endif %}">
            <td colspan="3">
                <div style="display: flex">
                    <div style="width: 49%">
                        <canvas id="attach_graph_user1"></canvas>
                    </div>
                    <div style="width: 49%">
                        <canvas id="attach_graph_user2"></canvas>
                    </div>
                </div>
            </td>
        </tr>
    {% endif %}
    {% endfor %}
</table>

<div style="padding-left: 10px">
    <h5 id="additional_stat">Дополнительная статистика:</h5>
    <ul class="browser-default">
        {% for stat in stat_pages %}
            <li><a href="{{ stat.link }}">{{ stat.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<hr>
<div style="width: 100%; height: 100px; display: flex; justify-content: center; align-items: center;">

    <span style="margin: 10px">Author: <a href="https://vk.com/zettroke">Zettroke</a></span>
    <span style="margin: 10px">Github: <a href="https://github.com/Zettroke/VkMessageStat">VkMessageStat</a></span>

</div>

<script>
    ctx_user2 = document.getElementById('donut_graph_user2');
    {% set user1_attach = vars.attach_graph.user1 %}
    {% set user2_attach = vars.attach_graph.user2 %}
    attach_graph_user1 = new Chart(document.getElementById('attach_graph_user1'), {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [{{ user1_attach.photo }}, {{ user1_attach.video }}, {{ user1_attach.audio }}, {{ user1_attach.doc }}, {{ user1_attach.audio_doc }}],
                backgroundColor: [
                '#64b5f6',
                '#4dd0e1',
                '#81c784',
                '#dce775',
                '#ffb74d'
                ]
            }
            ],
            labels: [
                'Фото',
                'Видео',
                'Аудио',
                'Документ',
                'Голосовое сообщение'
            ],

        },
        options: {
            legend: {
                labels: {
                    fontSize: 16
                }
        }

    }
    });
    attach_graph_user2 = new Chart(document.getElementById('attach_graph_user2'), {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [{{ user2_attach.photo }}, {{ user2_attach.video }}, {{ user2_attach.audio }}, {{ user2_attach.doc }}, {{ user2_attach.audio_doc }}],
                backgroundColor: [
                '#64b5f6',
                '#4dd0e1',
                '#81c784',
                '#dce775',
                '#ffb74d'
                ]
            }],
            labels: [
                'Фото',
                'Видео',
                'Аудио',
                'Документ',
                'Голосовое сообщение'
            ],

        },
        options: {
            legend: {
                labels: {
                    fontSize: 16
                }
            }
        }
    })
</script>
</body>
</html>